<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Planning Poker</title>
    <link href='~/css/normalize.css' rel='stylesheet' />
    <link href='https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Material+Icons' rel="stylesheet"/>
    <link href='~/css/vuetify.min.css' rel="stylesheet"/>
    <link href='~/public/css/app.css' rel="stylesheet"/>
</head>
<body>
    @RenderBody()
    <script src="~/public/js/chunk-vendors.js" asp-append-version="true"></script>
    <script src="~/public/js/app.js" asp-append-version="true"></script>
</body>
</html>
